.DS_Store
**/.DS_Store
**/.obsidian/workspace.json
**/.obsidian/workspace-mobile.json
.obsidian
**/.obsidian/

# Lokala referensbilder för karaktärerna
/Second brain/Second Brain/Karaktärer/*/Base Pictures/
